@charset "UTF-8";  

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* font-family: 'Audiowide', cursive; */

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    text-align: center;
}

section {
  padding-bottom: 5vh;
}

h1, h2, p {
  color: rgba(0,0,0, 0.8);
}

h1, h2 {
  padding-bottom: 1em;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

ul, li {
  font-size: 30px; 
}

.mainVisual {
  margin-top: 30vh;
}

.mainVisual p {
  font-size: 1.5em;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.works {
  width: 100%;
  height: 300px;
}

.works ul, .works li {
  list-style: none;
  line-height: 2;
}

.works li {
  padding-left: 20px;
  padding-right: 20px;
}

.socialLinks {
  width: 100%;
}

.socialLinks ul {
  display: flex;
  justify-content: center;
  align-items: center;  /* 子要素をflexboxにより中央に配置する */
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  color: rgba(0,0,0, 0.8);
}

.socialLinks ul li a {
  color: rgba(0,0,0, 0.8);
  text-decoration: none;
  display: block;
  width: 250px;
}

.socialLinks ul li {
  transition: .2s linear;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 50px;
}

.socialLinks li:hover {
  transition: .2s linear;
  text-shadow: 0 2px 2px rgba(0,0,0, 0.2);
}

.socialLinks .iconArea {
  font-size: 168.1px;
}

.socialLinks .textArea {
  font-size: 30px;
}

footer {
  margin-top: 240px;
  line-height: 2;
  background: #222;
  color: #fff;
  text-decoration: none;
  width: 100%;
}

footer a {
  color: #fff;
}