@charset "UTF-8";  

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* font-family: 'Audiowide', cursive; */

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    text-align: center;
}

h1, h2, p {
  color: rgba(0,0,0, 0.8);
}

ul, li {
  list-style: none;
  line-height: 2;
}

section {
  margin-bottom: 80px;
  width: 100%;
}

h1, h2 {
  padding-bottom: 1em;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

ul, li {
  font-size: 24px; 
}

section.mainVisual {
  height: 80vh;
}

section.mainVisual h1 {
  padding-top : 30vh;
}

section.mainVisual p {
  font-size: 1.5em;
}

section.works {
  margin-bottom: 40vh;
}

footer {
  padding: 24px;
  line-height: 2;
  background: #222;
  color: #fff;
  text-decoration: none;
}

footer a {
  color: #fff;
}
